/* includes alternating gray and white with on-hover color */


h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 40;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 3px solid red;
    padding: 15px;
}
.mystyle {
    font-size: 12pt; 
    font-family: 'Open Sans', sans-serif;;
    border-collapse: collapse; 
    border: 1px solid silver;
    width: 100%;

}

.mystyle td, th {
    padding: 5px;
}

.mystyle tr:nth-child(even) {
    background: #E0E0E0;
}

.mystyle tr:hover {
    background: silver;
    cursor: pointer;
}

